## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_Database.csv file. 
city_data_df = pd.read_csv("WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Vaini,TO,-21.2000,-175.2000,68.16,100,20,3.44,few clouds
1,1,Manaus,BR,-3.1019,-60.0250,81.09,78,75,8.05,moderate rain
2,2,Dikson,RU,73.5069,80.5464,43.09,95,100,21.39,light rain
3,3,Naushki,RU,50.3828,106.1056,56.30,96,100,6.13,light rain
4,4,Sao Filipe,CV,14.8961,-24.4956,75.72,85,93,7.90,overcast clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 90

In [5]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,Manaus,BR,-3.1019,-60.0250,81.09,78,75,8.05,moderate rain
4,4,Sao Filipe,CV,14.8961,-24.4956,75.72,85,93,7.90,overcast clouds
10,10,Bambous Virieux,MU,-20.3428,57.7575,70.05,83,40,16.11,light rain
17,17,Turayf,SA,31.6725,38.6637,88.05,29,0,11.50,clear sky
20,20,Bengkulu,ID,-3.8004,102.2655,75.20,92,77,4.00,broken clouds
22,22,Hilo,US,19.7297,-155.0900,80.28,96,75,5.75,heavy intensity rain
23,23,Neath,GB,51.6632,-3.8044,70.45,68,77,3.33,broken clouds
24,24,Faanui,PF,-16.4833,-151.7500,77.50,73,9,12.73,clear sky
25,25,Touros,BR,-5.1989,-35.4608,80.42,72,100,11.61,overcast clouds
27,27,Arraial Do Cabo,BR,-22.9661,-42.0278,75.16,78,0,10.36,clear sky

In [9]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 333 entries, 1 to 687
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   City_ID              333 non-null    int64
 1   City                 333 non-null    object
 2   Country              333 non-null    object
 3   Lat                  333 non-null    float64
 4   Lng                  333 non-null    float64
 5   Max Temp             333 non-null    float64
 6   Humidity             333 non-null    int64
 7   Cloudiness           333 non-null    int64
 8   Wind Speed           333 non-null    float64
 9   Current Description  333 non-null    object
dtypes: float64(4), int64(3), object(3)
memory usage: 28.6+ KB

In [10]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_preferred_cities_df = preferred_cities_df.dropna()
clean_preferred_cities_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,Manaus,BR,-3.1019,-60.0250,81.09,78,75,8.05,moderate rain
4,4,Sao Filipe,CV,14.8961,-24.4956,75.72,85,93,7.90,overcast clouds
10,10,Bambous Virieux,MU,-20.3428,57.7575,70.05,83,40,16.11,light rain
17,17,Turayf,SA,31.6725,38.6637,88.05,29,0,11.50,clear sky
20,20,Bengkulu,ID,-3.8004,102.2655,75.20,92,77,4.00,broken clouds

In [11]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Manaus,BR,81.09,moderate rain,-3.1019,-60.0250,
4,Sao Filipe,CV,75.72,overcast clouds,14.8961,-24.4956,
10,Bambous Virieux,MU,70.05,light rain,-20.3428,57.7575,
17,Turayf,SA,88.05,clear sky,31.6725,38.6637,
20,Bengkulu,ID,75.20,broken clouds,-3.8004,102.2655,

In [12]:
hotel_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 333 entries, 1 to 687
Data columns (total 7 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   City                 333 non-null    object
 1   Country              333 non-null    object
 2   Max Temp             333 non-null    float64
 3   Current Description  333 non-null    object
 4   Lat                  333 non-null    float64
 5   Lng                  333 non-null    float64
 6   Hotel Name           333 non-null    object
dtypes: float64(3), object(4)
memory usage: 20.8+ KB

In [13]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    lat = row["Lat"]
    lng = row["Lng"]
    # 6c. Get latitude and longitude from DataFrame
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [14]:
hotel_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 333 entries, 1 to 687
Data columns (total 7 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   City                 333 non-null    object
 1   Country              333 non-null    object
 2   Max Temp             333 non-null    float64
 3   Current Description  333 non-null    object
 4   Lat                  333 non-null    float64
 5   Lng                  333 non-null    float64
 6   Hotel Name           333 non-null    object
dtypes: float64(3), object(4)
memory usage: 28.9+ KB

In [18]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.loc[hotel_df["Hotel Name"]!= ""]
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Manaus,BR,81.09,moderate rain,-3.1019,-60.0250,Manaus Hotéis Millennium
4,Sao Filipe,CV,75.72,overcast clouds,14.8961,-24.4956,Hotel Xaguate
10,Bambous Virieux,MU,70.05,light rain,-20.3428,57.7575,Casa Tia Villa
17,Turayf,SA,88.05,clear sky,31.6725,38.6637,Turaif
20,Bengkulu,ID,75.20,broken clouds,-3.8004,102.2655,Grage Hotel Bengkulu
...,...,...,...,...,...,...,...
681,Namatanai,PG,78.58,broken clouds,-3.6667,152.4333,Seagulls Inn Namatani
682,Tatawin,TN,80.69,clear sky,32.9297,10.4518,Sangho Privilege Tataouine
683,Tual,ID,78.24,overcast clouds,-5.6667,132.7500,Grand Vilia Hotel
684,Bembereke,BJ,71.71,light rain,10.2283,2.6634,Hotel Bio Guera
687,Bima,ID,72.19,broken clouds,-8.4667,118.7167,Lambitu Hotel

In [19]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_Vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [20]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [21]:
# 11a. Add a marker layer for each city to the map. 
#locations = hotel_df[["Lat", "Lng"]]
#max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
#heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
#             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
#fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))